<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <!-- 新 Bootstrap 核心 CSS 文件 --> 
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" /> 
   <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
   <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">

 </head> 
 <body> 
  <div class="container"> 
   <h1 class="page-header">登入界面</h1> 
   <form> 
    <div class="row"> 
     <div class="form-group col-sm-7"> 
      <label for="user">账号</label> 
      <input type="text" class="form-control" id="uname" placeholder="请输入账号" /> 
     </div>
    </div> 
    <div class="row"> 
     <div class="form-group col-sm-7"> 
      <label for="Password1">密码</label> 
      <input type="password" class="form-control" id="mima" placeholder="请输入密码" /> 
     </div>
    </div> 
	
    <div class="row" >
     <input  class="btn btn-info btn-lg col-sm-3 col-md-offset-2 login "     value="登入" />
    </div>
    <br /> 
    <div class="row">
     <a class="btn btn-danger btn-lg col-sm-3  col-md-offset-2"   href="/user/reghtml" >注册</a> 
    </div>
   </form>
  </div>    
 </body>
 <script>
    $('.login').click(function(){
	
	$('input').each(function(){
	if(!$(this).val()){
		toastr.error($(this).attr('placeholder'));
			return false;
	}})
	var mima=$('#mima').val()
	var uname=$('#uname').val()
	
	$.post('/user/loginapi',{mima:mima,uname:uname},function(res){
		if(res=='ok'){
			toastr.success('登入成功')
			location.href='/jipiao/index'
		}
		else{
		toastr.error('登入失败')
		}
	  
	  
	  })
	
	
	
	
	
	
	})
	
 
 
 </script>
 
 
 
 
</html>